{% extends "login/base.html" %}

{% block title %}{{title}} {% endblock %}

{%block content1 %}
<br/>{{result}}
<br/><br/>

 <form action ="http://localhost:8000/course/update/" method="post">
	Title *: <input type= "text" name="title" value="{{title}}"><br>
	Description *:      <input type="text" name="description" value="{{description}}"><br>
	
	<input type="hidden" name="email" value="{{email}}">
	<input type="hidden" name="fname" value="{{fname}}">
         {% csrf_token %}
	<input type= "submit" name="Submit" value="Submit">
 </form>
 
{%endblock %}

